header.header
	input.header-popup-toggle(type="checkbox" id="popup-toggle")
	.overflow
		.header-popup Pop-up
			label.close-button(for="popup-toggle") &times;
	label.open-button(for="popup-toggle") Open pop-up button
